body{font-family:'Lucida Grande',Arial,sans-serif;font-size:13px;line-height:20px;}
input,textarea,select,.form-select{border:1px solid transparent;background:#eee;color:#333;outline:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:13px;line-height:20px;}
fieldset{padding-bottom:20px;border:none;}
.radio-check-label{margin-top:14px 0 6px;}.radio-check-label input{float:left;margin:3px 14px 0 0;}
.form-select{line-height:20px;position:relative;list-style:none;margin-left:0;cursor:pointer;}.form-select li{display:none;line-height:20px;margin:1px 24px 2px 3px;position:relative;}
.form-select li.selected{display:block;}
.form-select:after{content:".";font-size:1px;color:transparent;border-color:#333 transparent transparent transparent;border-style:solid;border-width:5px;width:0;height:0;position:absolute;top:12px;right:8px;}
.form-select.form-select-open li{display:block;}
.form-select.form-select-open:after{border-color:transparent transparent #333 transparent;top:6px;}
.top-label{position:relative;bottom:10px;}.top-label label{display:block;margin:28px 0 2px;}
.top-label label:after{content:" :";}
.top-label .radio-check-label{margin:14px 0 6px;}
.top-label .radio-check-label:after{content:none;}
.top-label input,.top-label textarea,.top-label select,.top-label .form-select{display:block;line-height:20px;padding:4px 3px 4px;}
.top-label .form-select{display:inline-block;}
.top-label input[type=button],.top-label input[type=submit]{margin:20px 0 0;padding:4px 10px 4px 9px;}
.top-label textarea{position:relative;top:1px;}
.left-label{position:relative;}.left-label label{float:left;clear:left;margin:20px 0;width:120px;}
.left-label input,.left-label textarea,.left-label select,.left-label .form-select{float:left;display:block;margin:14px 0 0;padding:4px 3px 4px;line-height:20px;}
.left-label input[type=button],.left-label input[type=submit]{clear:left;margin:20px 0 0 120px;padding:4px 10px 4px 9px;}
.left-label select{margin:18px 0 0;}
.right-label{position:relative;}.right-label label{float:left;clear:left;margin:20px 0;width:120px;}
.right-label input,.right-label textarea,.right-label select,.right-label .form-select{float:left;display:block;margin:14px 0 0;padding:4px 3px 4px;line-height:20px;}
.right-label input[type=button],.right-label input[type=submit]{clear:left;margin:20px 0 0 120px;padding:4px 10px 4px 9px;}
.right-label select{margin:18px 0 0;}
.right-label label{padding-right:20px;width:100px;text-align:right;}
