/********** Forms **********/
.rounded(@radius : 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

/*** Reset ***/
body {
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

input, textarea, select, .form-select {
	border: 1px solid transparent;
	background: #eee;
	color: #333;
	outline: none;
	.rounded(3px);
	font-size: 13px;
	line-height: 20px;
}

fieldset {
	padding-bottom: 20px;
	border: none;
}

.radio-check-label {
	/* radio, checkbox */
	margin: 14px 0 6px;
	
	input {
		float: left;
		margin: 3px 14px 0 0;
	}
}

.form-select {
	line-height: 20px;
	position: relative;
	list-style: none;
	margin-left: 0;
	cursor: pointer;
	
	li {
		display: none;
		line-height: 20px;
		margin: 1px 24px 2px 3px;
		position: relative;
	}
	
	li.selected {
		display: block;
	}
}

.form-select:after {
	content: ".";
	font-size: 1px;
	color: transparent;
	border-color: #333 transparent transparent transparent;
	border-style:solid;
	border-width:5px;
	width:0;
	height:0;
	position: absolute;
	top: 12px;
	right: 8px;
}

.form-select.form-select-open {
	li {
		display: block;
	}
}

.form-select.form-select-open:after {
	border-color: transparent transparent #333 transparent;
	top: 6px;
}
/** / Reset **/


/********** Positioning **********/
/*** Top Labels ***/
.top-label {
	position: relative;
	bottom: 10px;
	
	label, .fake-label {
		display: block;
		margin: 28px 0 2px;
	}
	
	label:after {
		content: " :";
	}
	
	.radio-check-label {
		margin: 14px 0 6px;
	}
	
	.radio-check-label:after {
		content: none;
	}
	
	input, textarea, select, .form-select {
		display:block;
		line-height: 20px;
		padding: 4px 3px 4px;
	}
	
	.form-select {
		display: inline-block;
	}
	
	input[type=button], input[type=submit] {
		margin: 20px 0 0;
		padding: 4px 10px 4px 9px;
	}
	
	textarea {
		position: relative;
		top: 1px;
	}
}
/** / Top Labels **/

/*** Left Label ***/
.left-label {
	position: relative;
	
	label, .fake-label {
		float: left;
		clear: left;
		margin: 20px 0;
		width: 120px;
	}
	
	input, textarea, select, .form-select {
		float: left;
		display:block;
		margin: 14px 0 0;
		padding: 4px 3px 4px;
		
		line-height: 20px;
	}
	
	input[type=button], input[type=submit] {
		clear: left;
		margin: 20px 0 0 120px;
		padding: 4px 10px 4px 9px;
	}
	
	select {
		margin: 18px 0 0;
	}
	
	.radio-check-label {
		/* radio, checkbox */
		margin: 20px 0 6px;
		clear: none;
		float: left;

		input {
			float: left;
			margin: 5px 14px 0 0;
		}
	}
}
/** / Left Label **/

/*** Right Label ***/
.right-label {
	.left-label();
	
	label, .fake-label {
		padding-right: 20px;
		width: 100px;
		
		text-align: right;
	}
}
/** / Right Label **/
/********* / Positioning *********/